body{
  background: linear-gradient(to right ,#417BE0,#B844EA)
}
h1{
   text-align: center;
   padding-top: 20% ;
   color: white ;
   opacity: 0.7 ;

}
form{
   margin-left: 40% ;
}
.chng_o{
  color: #03113F ;
  text-align: center;

}
.myType{
  margin-top: 1%;
   width: 200px;
   background: linear-gradient(to right ,#842A9C ,#2E013A);
   color: white ;
   margin-bottom: 3%;
}
.length_oi{
  font-size: 18px;
  padding: 1%;
  margin-left: 1%;
  background-color: #1B4785 ;
  color: white ;
}
.length_oii{
   width: 5%;
   color: #03113F  ;
}
